main {
    flex-direction: column;
}

#links-container {
    display: none;
}

#nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#resume-download-btn {
    background-color: black;
    border: none;
    padding: 8px;
    color: rgb(111, 218, 182);
    text-transform: uppercase;
    border-radius: 12px;
    font-size: .8rem;
}

#nav-buttons a img {
    width: 35px;
    height: 35px;
}